<div>
<div>
    <h1>Intro text</h1>
</div>
<div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere egestas quam et eleifend. Fusce iaculis ornare magna, eget laoreet nulla congue at. Donec et faucibus tortor. Nullam fringilla tincidunt nisi sed sollicitudin. In ut mi eget odio venenatis congue quis at augue. Nulla nec dapibus neque. Sed venenatis vitae diam eget tempus. Fusce vestibulum consequat euismod. Morbi et pulvinar ligula, eu viverra metus. Quisque a tristique orci, eu aliquam arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere egestas quam et eleifend. Fusce iaculis ornare magna, eget laoreet nulla congue at. Donec et faucibus tortor. Nullam fringilla tincidunt nisi sed sollicitudin. In ut mi eget odio venenatis congue quis at augue. Nulla nec dapibus neque. Sed venenatis vitae diam eget tempus. Fusce vestibulum consequat euismod. Morbi et pulvinar ligula, eu viverra metus. Quisque a tristique orci, eu aliquam arcu.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere egestas quam et eleifend. Fusce iaculis ornare magna, eget laoreet nulla congue at. Donec et faucibus tortor. Nullam fringilla tincidunt nisi sed sollicitudin. In ut mi eget odio venenatis congue quis at augue. Nulla nec dapibus neque. Sed venenatis vitae diam eget tempus. Fusce vestibulum consequat euismod. Morbi et pulvinar ligula, eu viverra metus. Quisque a tristique orci, eu aliquam arcu.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere egestas quam et eleifend. Fusce iaculis ornare magna, eget laoreet nulla congue at. Donec et faucibus tortor. Nullam fringilla tincidunt nisi sed sollicitudin. In ut mi eget odio venenatis congue quis at augue. Nulla nec dapibus neque. Sed venenatis vitae diam eget tempus. Fusce vestibulum consequat euismod. Morbi et pulvinar ligula, eu viverra metus. Quisque a tristique orci, eu aliquam arcu.</p>

    <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere egestas quam et eleifend. Fusce iaculis ornare magna, eget laoreet nulla congue at. Donec et faucibus tortor. Nullam fringilla tincidunt nisi sed sollicitudin. In ut mi eget odio venenatis congue quis at augue. Nulla nec dapibus neque. Sed venenatis vitae diam eget tempus. Fusce vestibulum consequat euismod. Morbi et pulvinar ligula, eu viverra metus. Quisque a tristique orci, eu aliquam arcu.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam posuere egestas quam et eleifend. Fusce iaculis ornare magna, eget laoreet nulla congue at. Donec et faucibus tortor. Nullam fringilla tincidunt nisi sed sollicitudin. In ut mi eget odio venenatis congue quis at augue. Nulla nec dapibus neque. Sed venenatis vitae diam eget tempus. Fusce vestibulum consequat euismod. Morbi et pulvinar ligula, eu viverra metus. Quisque a tristique orci, eu aliquam arcu.</p>

</div>
<div>
    <button class="btn btn-primary btn-lg btn-block" (click)="navpage()">Apply For Trainer</button>
</div>
</div>